# `jdbc_magic` Test

## Setup

Automatically reloads the Python code when `%reload_ext` is used (necessary if code was updated):

In [1]:
%load_ext autoreload

In [2]:
%autoreload 2

Load magic:

In [3]:
%load_ext jdbc_magic

sqlmagic loaded

Reload magic (only after loaded and code was changed):

In [19]:
%reload_ext jdbc_magic

sqlmagic loaded

## Tests

Connect:

Note: if the database doesn't exist, the H2 server needs to be started with the [`-ifNotExists` flag](http://h2database.com/html/tutorial.html?highlight=ifNotExists&search=ifnotexist#firstFound).

In [22]:
%%connect

jclassname=org.h2.Driver
url=jdbc:h2:tcp://localhost:9092/./test/test
driver_args=sa;
jars=C:/Users/corne/Databases/h2-1.4.199.jar

connected to dbMeta2: conn2: url=jdbc:h2:tcp://localhost:9092/./test/test user=SA

Create table:

In [23]:
%%sqlm

CREATE TABLE test(test0 BIGINT PRIMARY KEY AUTO_INCREMENT, test1 VARCHAR);

HBox(children=(Label(value='initialising ...', layout=Layout(height='initial', margin='0')), Button(button_sty…

Statement completed in 0:00:00.025765
0 rows updated

Fill table:

Note: this will take some time. `@LOOP` does not work through the JDBC driver.

In [31]:
for _ in range(1000000):
    cursor.execute('INSERT INTO test VALUES (NULL, RAND())')

Query:

In [32]:
%%sqlm

SELECT COUNT(*)
FROM test

HBox(children=(Label(value='initialising ...', layout=Layout(height='initial', margin='0')), Button(button_sty…

Statement completed in 0:00:00.003003

   COUNT(*)
0   1002000

In [33]:
%%sqlm

SELECT TOP 100 *
FROM test

HBox(children=(Label(value='initialising ...', layout=Layout(height='initial', margin='0')), Button(button_sty…

Statement completed in 0:00:00.003467

    TEST0                 TEST1
0       1  0.050176299388961176
1       2   0.22130001304981628
2       3    0.9438640378895211
3       4    0.2953070340113778
4       5     0.552884094166907
..    ...                   ...
95     96   0.33013856121470475
96     97   0.31597774570255976
97     98    0.7414177315544174
98     99    0.5167158349535897
99    100    0.5161159819895549

[100 rows x 2 columns]

In [34]:
df

    TEST0                 TEST1
0       1  0.050176299388961176
1       2   0.22130001304981628
2       3    0.9438640378895211
3       4    0.2953070340113778
4       5     0.552884094166907
..    ...                   ...
95     96   0.33013856121470475
96     97   0.31597774570255976
97     98    0.7414177315544174
98     99    0.5167158349535897
99    100    0.5161159819895549

[100 rows x 2 columns]

Error:

In [35]:
%%sqlm

SELECT TOP 100 *
FROM tests

HBox(children=(Label(value='initialising ...', layout=Layout(height='initial', margin='0')), Button(button_sty…

exception calling callback for <Future at 0x1eeff727438 state=finished returned NoneType>
Traceback (most recent call last):
  File "C:\Users\corne\Anaconda3\envs\python37\lib\concurrent\futures\_base.py", line 324, in _invoke_callbacks
    callback(self)
  File "C:\Users\corne\Git\sqlmagic\src\sql_magic.py", line 174, in statement_done
    raise self.exc_info[1].with_traceback(self.exc_info[2])
  File "C:\Users\corne\Git\sqlmagic\src\sql_magic.py", line 129, in exec_statement
    self.cursor.execute(sql)
  File "C:\Users\corne\Anaconda3\envs\python37\lib\site-packages\jaydebeapi-1.1.1-py3.7.egg\jaydebeapi\__init__.py", line 518, in execute
    self._prep = self._connection.jconn.prepareStatement(operation)
jpype._jclass.org.h2.jdbc.JdbcSQLSyntaxErrorException: org.h2.jdbc.JdbcSQLSyntaxErrorException: Table "TESTS" not found; SQL statement:

SELECT TOP 100 *
FROM tests
 [42102-199]
	at org.h2.message.DbException.getJdbcSQLException(DbException.java:451)
	at org.h2.message.DbException.getJdbcSQLException(DbException.java:427)
	at org.h2.message.DbException.get(DbException.java:205)
	at org.h2.message.DbException.get(DbException.java:181)
	at org.h2.command.Parser.readTableOrView(Parser.java:7146)
	at org.h2.command.Parser.readTableFilter(Parser.java:1895)
	at org.h2.command.Parser.parseSelectSimpleFromPart(Parser.java:2641)
	at org.h2.command.Parser.parseSelectSimple(Parser.java:2788)
	at org.h2.command.Parser.parseSelectSub(Parser.java:2636)
	at org.h2.command.Parser.parseSelectUnion(Parser.java:2469)
	at org.h2.command.Parser.parseSelect(Parser.java:2440)
	at org.h2.command.Parser.parsePrepared(Parser.java:814)
	at org.h2.command.Parser.parse(Parser.java:788)
	at org.h2.command.Parser.parse(Parser.java:760)
	at org.h2.command.Parser.prepareCommand(Parser.java:683)
	at org.h2.engine.Session.prepareLocal(Session.java:627)
	at org.h2.server.TcpServerThread.process(TcpServerThread.java:270)
	at org.h2.server.TcpServerThread.run(TcpServerThread.java:175)
	at java.base/java.lang.Thread.run(Thread.java:835)

Cancel:

In [37]:
%%sqlm

SELECT TOP 100 *
FROM test
ORDER BY RAND()

HBox(children=(Label(value='initialising ...', layout=Layout(height='initial', margin='0')), Button(button_sty…

Statement cancelled after 0:00:02.920587

In [39]:
%%sqlm var=out noprint

SELECT TOP 100 *
FROM test

HBox(children=(Label(value='initialising ...', layout=Layout(height='initial', margin='0')), Button(button_sty…

Statement completed in 0:00:00.002877
100 rows returned to out

In [40]:
out

    TEST0                 TEST1
0       1  0.050176299388961176
1       2   0.22130001304981628
2       3    0.9438640378895211
3       4    0.2953070340113778
4       5     0.552884094166907
..    ...                   ...
95     96   0.33013856121470475
96     97   0.31597774570255976
97     98    0.7414177315544174
98     99    0.5167158349535897
99    100    0.5161159819895549

[100 rows x 2 columns]

Close:

In [41]:
%close

connection closed